* {
	font-family: 'Oxygen Mono', monospace;
	line-height: 150%;
	box-sizing: border-box;
	text-align: center;
}

#fullContainer {
	background-color: #0E0A39;
	height: 1500px;
}

#fullContainer.page1{
	height: 950px;
}

#mainPageContainer {
	background-color: #0E0A39;
}

#carouselContainer {
	background-color: #0E0A39;
	height: 600px;
}

#zipRefreshContainer {
	background-color: #3B45A8;
	height: 300px;
}

#pageHeader {
	background-image: url("../Images/SoundHound-pic1.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	height: 900px;
}

#pageHeader.full{
	height: 950px;
}

h1.page-header {
	font-size: 7rem;
	font-family: 'Oxygen', sans-serif;
	color: #FBF6F6;
	border-bottom: 0px;
/*	text-shadow: 25%;*/ /* How can we make the shadow effect?*/
}

h1.page-header.page1 {
	font-size: 11rem;
	margin-top: 75px;
}

#mainTitle {
	padding-top: 3%;
}

#underline { /*!Find the default underline in Bootstrap!*/
	height: 2px;
	width: 40%;
	margin: 0 auto;
	background-color: #FBF6F6;
}

div.modal-header {
	background-color: #5d63b8;
}

h3.modal-title {
	color: #fff;
	font-size: 32px;
}

div.modal-body {
	background-color: #e3e4f3;
}

label.form-control-label {
	color: #1a1592;
	font-size: 18px;
}

div.modal-footer {
	background-color: #5d63b8;
}

button#modalButton{
	width: 300px;
	height: 100px; 
	margin-top: 20px;
	color: #E0E0E0;
	background-color: #0E0A39;
	border-radius: 0%;
}

h3#bottomText{
	font-size: 3.5rem;
	font-family: 'Oxygen', sans-serif;
	color: #FBF6F6;
}

h3#bottomTextArea {
	width: 100%;
	margin-top: 3vh;
}

div .jumbotron{ /*What is the difference between a space and no-space between the element nodes?*/
	background-color: transparent;
	margin: 0 auto;
}

#topTrendingCarousel {
	background-color: #0E0A39;
}

.carousel-item img {
	margin: 0 auto;
}

.imgIcon {
	width: 250px;
	height: 230px;
	margin-top: 15vh;
}

.btn-search {
	width: 250px;
	height: 40px;
	background-color: #3B45A8;
}

.carousel-item {
	margin: 0 auto;
}

img.d-block.carousel-pic {
	width: 600px;
	height: 400px;
	margin-top: 30px;
}

#TopTrendingText {
	color: #E0E0E0;
	font-family: 'Oxygen Mono', monospace;
	font-size: 28px;
	background-color: transparent;
	margin-top: 30px;
}

#zipRefresh {
	width: 200px;
	height: 150px;
}

#zipRefreshText {
	color: #A5A6C1;
	font-family: 'Oxygen Mono', monospace;
	font-size: 24px;
	background-color: transparent;
	margin-top: 60px;
}

#searchSection {
	margin-top: 5px;
}

/*	added some styling for list page/search results - J.J. */
.container {
	background-color: #2C75D6;
	max-width:60%;
}

.header p {
	display:inline-block;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:0px;
	font-size: 16px;
	color: black;
}

.header h1 {
	display: inline-block;
	padding-right:20px;
	padding-left:20px;
	color:white;
	text-shadow:2px 2px black;
	border-bottom: 2px solid darkgrey;
    padding-bottom: 10px;
}

.back img {
	width:30px;
	height:30px;
}

.home img {
	width:30px;
	height:30px;
}

.dropdown {
	display:inline-block;
}

.dropdowns {
	margin-bottom:20px;
}

.dropdown a {
	color:black;
}

.sortBy  {
	float:left;
}

.filter {
	float:right;
}

.searchResult {
	background-position:center;
	background-size:cover;
	height:200px;
	border:2px solid darkgray;
	margin:20px;
}

.resultsContainer {
	margin:20px;
}

.textData {
	background-color:black;
	opacity:0.8;
	border-radius: 10px;
	padding:10px;
	font-size:18px;
	color: white;
}

.updateResults {
	margin-bottom:20px;
}
