* {
	font-family: 'Oxygen Mono', monospace;
	line-height: 150%;
	box-sizing: border-box;
	text-align: center;
}

#fullContainer {
	background-color: #0E0A39;
	height: 1500px;
}

#mainPageContainer {
	background-color: #0E0A39;
}

#carouselContainer {
	background-color: #0E0A39;
	height: 500px;
}

#zipRefreshContainer {
	background-color: #3B45A8;
	height: 250px;
}

#pageHeader {
	background-image: url("../Images/SoundHound-pic1.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	height: 950px;

}

h1.page-header {
	font-size: 7rem;
	font-family: 'Oxygen', sans-serif;
	color: #FBF6F6;
/*	text-shadow: 25%;*/ /* How can we make the shadow effect?*/
}

#mainTitle {
	padding-top: 3%;
}

#underline { /*!Find the default underline in Bootstrap!*/
	height: 2px;
	width: 40%;
	margin: 0 auto;
	background-color: #FBF6F6;
}

button#modalButton {
	width: 300px;
	height: 100px; 
	margin-top: 50px;
	color: #E0E0E0;
	background-color: #0E0A39;
	border-radius: 0%;
}

h3#bottomText {
	font-size: 3.5rem;
	font-family: 'Oxygen', sans-serif;
	color: #FBF6F6;
}

#bottomTextArea,h3 {
	width: 100%;
/*	position: absolute;*/
/*	bottom: 20px;*/
	margin-top: 3vh;
}

div .jumbotron{ /*What is the difference between a space and no-space between the element nodes?*/
	background-color: transparent;
	margin: 0 auto;
}

#topTrendingCarousel {
	background-color: #0E0A39;
}

.carousel-item img {
	margin: 0 auto;
	/*	display: block;*/
}

.imgIcon {
	width: 200px;
	height: 180px;
	margin-top: 35vh;
}

.btn-search {
	width: 250px;
	height: 38px;
}

.carousel-item {
	margin: 0 auto;
}

img.d-block.carousel-pic {
	width: 600px;
	height: 400px;
	margin-top: 50px;
}

#zipRefresh {
	width: 200px;
	height: 150px;
}

#zipRefreshText {
	color: #E0E0E0;
	font-family: 'Oxygen Mono', monospace;
	font-size: 24px;
	background-color: transparent;
		margin-top: 50px;
}